/* body { */
/*   font-family: 'Archivo Narrow', sans-serif; */
/*   padding-bottom: 100px; */
/* } */

/* https://medium.com/@yukiyao/use-a-different-font-in-semantic-ui-ffba49dd473b */
/* body #fonts { */
/*   font-family: 'Archivo Narrow', sans-serif; */
/*   font-weight: normal; */
/* } */

.top-buffer {
  margin-top: 25px;
}

.small-buffer {
  margin-top: 18px;
}

.bottom-buffer {
  margin-bottom: 150px;
}

.post a:link {
  text-decoration: underline;
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  .post {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.post {
  margin-top: 75px;
  font-size: 1.2em;
}

.post h2 {
  margin-top: 40px;
}

.post code {
  font-size: 0.90em;
  background-color: #f5f5f5;
}

.post li {
  padding: 10px;
}
