/* body { */
/*   font-family: 'Archivo Narrow', sans-serif; */
/*   padding-bottom: 100px; */
/* } */

/* https://medium.com/@yukiyao/use-a-different-font-in-semantic-ui-ffba49dd473b */
/* body #fonts { */
/*   font-family: 'Archivo Narrow', sans-serif; */
/*   font-weight: normal; */
/* } */

.top-buffer {
  margin-top: 25px;
}

.small-buffer {
  margin-top: 18px;
}

.bottom-buffer {
  margin-bottom: 150px;
}

.post a:link {
  text-decoration: underline;
}
